<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="main.css">
  <title>Joe's Cake's</title>
</head>
<body>
  <div class="grid-container">
    <% @@cakes.each do |cake| %>
      <h1> <%= cake.name %> </h1>
      <h3> <%= cake.price %></h3>
      <h2> <%= cake.info %> </h2>
     <% end %>
  </div>
</body>

</html>