<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="main.css">
  <title>Joe's Cookie's</title>
</head>
<body>
 <h1>BAKER JOE'S COOKIES</h1>
  <div class="grid-container">
    <% @@cookies.each do |cookie| %>
      <h1> <%= cookie.name %> </h1>
      <h3> <%= cookie.price %></h3>
      <h2> <%= cookie.info %> </h2>
     <% end %>
  </div>
</body>

</html>

