<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Baker Joe</title>
    <link rel="stylesheet" href="main.css">
</head>
<body>

<ul>

  <li class="dropdown">
    <a href="javascript:void(0)"
 class="dropbtn">Home</a>
    <div class="dropdown-content">
        <a href="#about">About</a>
        <a href="#cookies">Cookies</a>
        <a href="#cakes">Cakes</a>
        <a href="#muffins">Muffins</a>
        </div>
    </li>
</ul>

    <div class="wrapper" style="padding:0 16px;">
    
        <article class="img-info">
            <h2>Hello we out here</h2>
            <p>
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quaerat eum dolores distinctio aspernatur obcaecati nulla, explicabo ex odio repellendus provident amet nisi facilis ut mollitia dolor, voluptates quas impedit reiciendis!
            </p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Excepturi illo aperiam odio iste, et architecto beatae est perspiciatis minima. Doloremque necessitatibus iure blanditiis quo debitis soluta dignissimos consequatur sed quisquam.</p>
        </article>
    </div>        
</body>
</html>