<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="main.css">
    <title>Baker Joe's</title>
</head>

<body>
    <div class="container">

        <div class="heading">
            <h1>WELCOME TO BAKER JOE'S</h1>
        </div>

        <div class="nav">
            <a href="cookie">Cookies</a>
            <a href="cake">Cakes</a>
            <a href="muffin">Muffins</a>
            <form action="/send_text" method="POST">
                 <input type="text" name="number" placeholder="Enter phone here..."><br>
                <input type="submit" value="Submit"> 
            </form>
        </div>

        <div class="about">
            <h2>WHY WE DO WHAT WE DO</h2>
            <p>Here at Baker Joe's we’ve been baking from scratch each and every morning for over 100 years! Our bakers
                start with the highest quality, freshest ingredients available and rise early to prepare our FAMOUS
                cakes,cookies, and muffins!</p>
            <p> We also offer some vegan/gluten free options in house as well as a full line of locally roasted coffee
                and espresso drinks for you to enjoy in the cafe, on our patio or for carry out. </p>
            <p> Our daily menu features a wide variety of cakes and cookies in many traditional and modern flavors. We
                offer a new flavor each week! Sweet delicacies and special occasion cakes for any event are available by
                custom order so give us a call and let us help with your celebration!</p>
        </div>

        <div class="berry1">
            <img src="image/sweet.png" alt="sweet" width="200" height="200">
        </div>

        <div class="berry2">
            <img src="image/sweet.png" alt="sweet" width="200" height="200">
        </div>

        <div class="cake1">
            <img src="image/cake.png" alt="cake" width="200" height="200">
        </div>

        <div class="cake2">
            <img src="image/cake.png" alt="cake" width="200" height="200">
        </div>

        <div class="mchef">
            <img src="image/mchef.png" alt="mchef" width="200" height="400">
        </div>

        <div class="wchef">
            <img src="image/wchef.png" alt="wchef" width="200" height="400">
        </div>

        <div class="cookies1">
            <img src="image/baked.png" alt="cookies" width="200" height="200">
        </div>

        <div class="cookies2">
            <img src="image/baked.png" alt="cookies" width="200" height="200">
        </div>

        <div class="favicon1">
            <img src="image/favicon.png" alt="favicon" width="200" height="200">
        </div>

        <div class="favicon2">
            <img src="image/favicon.png" alt="favicon" width="200" height="200">
        </div>

        <div class="footer">
            <p>Baker Joe's • 85 Broad Street • New York,NY • Ph: 919.821.3242 • Sunday – Thursday 8:30AM to 8PM • Friday
                – Saturday 8:30AM to 10PM</p>
        </div>

    </div>
</body>

</html>