<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="main.css">
  <title>Joe's Muffin's</title>
</head>
<body>
 <h1>BAKER JOE'S MUFFINS</h1>
  <div class="grid-container">
    <% @@muffins.each do |muffin| %>
      <h1> <%= muffin.name %> </h1>
      <h3> <%= muffin.price %></h3>
      <h2> <%= muffin.info %> </h2>
     <% end %>
  </div>
</body>

</html>