body {
  margin: 0;
  font-family: sans-serif;
}

.container {
  display: grid;
  grid-template-columns: auto auto auto auto auto auto;
  grid-gap: 10px;
  background-color: rgb(207, 163, 41);
  padding: 100px;
}

.container>div {
  text-align: center;
  padding: 20px 0;
  font-size: 30px;
}

/* For tablets: */
@media only screen and (max-width:800px) {
  .main {
    width: 80%;
    padding: 0;
  }

  .right {
    width: 100%;
  }

  /* For tablets: */

}

/* For mobile phones: */
@media only screen and (max-width:500px) {

  .menu,
  .main,
  .right {
    width: 100%;
  }
}

/* For mobile phones: */

/* HEADING  */
.heading {
  grid-area: 1 / 2 / 2 / 6;
  font-style: italic;
  text-decoration: underline;
}

/* HEADING  */

/* NAV BAR  */
.nav {
  /* background-color: rgba(255, 255, 255, 0.8); */
  grid-area: 2/2/3/6;
}

.nav {
  overflow: hidden;
  /* background-color:; */
}

.nav a {
  float: center;
  display: block;
  color: #1a1605;
  padding: 14px 16px;
  text-decoration: underline;
}

.nav a:hover {
  background-color: #ddd;
  border-radius: 50%;
  color: black;
}

/* NAV BAR  */

.prompt {
  grid-area: 2 / 2 / 2 / 5;
  text-align: center;
}

/* ABOUT ME CONTENT  */

.about {
  background-color: rgba(255, 255, 255, 0.8);
  grid-area: 3/2/6/6;
}

.about h2 {
  font-style: italic;
  text-decoration: underline;
}

.about p {
  font-style: inherit;
}

/* ABOUT ME CONTENT  */


/* CHEF GUY  */
.mchef {
  background-color: rgba(255, 255, 255, 0.8);
  grid-area: 3/1/6/2;
}

/* CHEF GUY   */

/* CHEF GIRL  */
.wchef {
  grid-area: 3/6/6/7;
  background-color: rgba(255, 255, 255, 0.8);
}

/* CHEF GIRL  */

/* COOKIES and CAKES IN THE NAV  */
.cake1 {
  grid-area: 2/2/3/3;
}

.cake2 {
  grid-area: 2/5/3/6;
}

.cookies1 {
  background-color: rgba(255, 255, 255, 0.8);
}

.cookies2 {
  background-color: rgba(255, 255, 255, 0.8);
}

/* COOKIES and CAKES IN THE NAV  */

/* FOOTER  */
.footer {
  grid-area: 6/2/7/6;
  background-color: rgba(255, 255, 255, 0.8);
}

/* FOOTER  */

/* Sub-pages css styling */
.grid-container {
  display: grid;
  grid-template-columns: auto auto auto auto auto auto;
  grid-gap: 10px;
  background-color: #2196F3;
  padding: 10px;
  font-family: 'Courier New', Courier, monospace;
}

.grid-container>div {
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  padding: 20px 0;
  font-size: 30px;
}
/* Sub-pages css styling */
